/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
**/
/*@import "bootstrap-sprockets";
@import "bootstrap";
@import "layout";*/
/* User sign in and sign forms. */
.border-form-div {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}
.score{
position: relative;
left: 14px;
}
nav{
color: white;
}
.jumbotron{
background-image: image-url('jumbotron.jpg');
background-repeat: no-repeat;
background-size: 100%;
}
body{
color:white;
background-image: image-url('background.jpg');
background-repeat: repeat;
background-size: 100%;
}
ul{
padding:10px;
list-style: none;
border:2px solid;
background-image: image-url('post.jpeg');
background-repeat: no-repeat;
background-size: 100%;
}
li a {
color: #FFFFFF
}
li a.visited, a.hover {
color: #C0C0C0;
}
li a.special {
color:#FFFFFF;
}
nav.pagination a{
color: #FFFFFF;
}
.post-nav a{
color: #FFFFFF;
}
* {
color:#4E7718;
text-shadow: 2px 2px 1px #888888;
}
p{
background-image: image-url('post.jpeg');
background-repeat: no-repeat;
background-size: 100%;
color:white;
}
.glyphicon {
color: white;
}
b{
color: white;
-webkit-text-stroke: 1px black;
color: white;
text-shadow:
3px 3px 0 #000,
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}
img{
padding-bottom: 100;
background-image: image-url('images.jpg');
background-repeat: no-repeat;
background-size: 100%;
}
.masthead{
border: 1px solid white;
background-image: image-url('flame2.jpg');
background-repeat: no-repeat;
background-size: 100%;
background-color: white;
}
ol{
background-color: black;
opacity: 100;
}
a.btn {
border-radius: 8px;
box-shadow: 3px 3px 1px #888888;
cursor: pointer;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
a.fud{
text-decoration: none;
position: relative;
top: 18px;
text-align:center;
font-size:2.7em;
color:#0E1479;
letter-spacing: -7px;
font-weight:40;
text-transform:uppercase;
animation:blur .85s ease-out infinite;
text-shadow:0px 0px 5px #fff,
0px 0px 7px #fff;
}
a.fud.hover{
text-decoration: none;
position: relative;
top: 18px;
text-align:center;
font-size:2.7em;
color:#0E1479 ;
letter-spacing: -7px;
font-weight:40;
text-transform:uppercase;
animation:blur .85s ease-out infinite;
text-shadow:0px 0px 5px #fff,
0px 0px 7px #fff;
}
@keyframes blur{
from{
text-shadow:0px 0px 10px #fff,
0px 0px 10px #fff,
0px 0px 25px #fff,
0px 0px 25px #fff,
0px 0px 25px #fff,
0px 0px 25px #fff,
0px 0px 25px #fff,
0px 0px 25px #fff,
0px 0px 50px #fff,
0px 0px 50px #fff,
0px 0px 50px #7B96B8,
0px 0px 150px #7B96B8,
0px 10px 100px #7B96B8,
0px 10px 100px #7B96B8,
0px 10px 100px #7B96B8,
0px 10px 100px #7B96B8,
0px -10px 100px #7B96B8,
0px -10px 100px #7B96B8;}
}
h3{
text-decoration: none;
padding-bottom: 20px;
}
input.query{
width: 688px;
height: 23px;
position: relative;
top: -5px;
font-size: 13px;
}